@import "tailwindcss";
@keyframes scroll-down {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-up {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}

.animate-scroll-down {
  animation: scroll-down 20s linear infinite;
}

.animate-scroll-up {
  animation: scroll-up 20s linear infinite;
}


html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}